body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

.card-body {
  background-color: #f0f0f3; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #97c5b6; }

.bg-primary {
  background-color: #048565 !important; }

h3 {
  color: #048565; }

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046C5, #60106b);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #901CAD; }

.carousel {
  border: solid #5637dd; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

/*.tab-content{
     border: 1px solid #DDD;
     border-top: none;
     padding: 10px;
}*/
/* change the color of active links */
.nav-item.active .nav-link {
  color: #ffffff; }

/* change the color of links */
.nav-item .nav-link {
  color: lightblue; }

/*change the color of hovered links */
.nav-item:hover .nav-link {
  color: pink; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }

#carouselButton {
  z-index: 3; }
