
$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans", sans-serif;
$header-font: "Open Sans", cursive;




body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
    color: $color-dark;
}

.gal{
    //height:200px;
    background:$color-pale;
    padding:1rem 0;
}

.masthead{
    height:auto;
    background-color: #ffffff;;
}

.menu-links{
    text-decoration: none;
    text-align: left!important;
}

.card-body{
    background-color: rgb(240, 240, 243);   
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: rgb(151, 197, 182);
}
.bg-primary{
    background-color: rgb(4, 133, 101)!important;
}

.site-footer {

    padding: 20px 0;
}

.jumbotron {
    height: auto;
    margin: 0;
    color:white;
    #wantWafflesBtn{
        z-index:1025;
    }
}

.row-content {
    padding: 0px 0;
}

.navbar {
    background-color: $color-mid;
}

.carousel {
    width:auto; 
}

.nav-item{
 padding-right:50px;

}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

#carouselButton {z-index:3}