body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Open Sans", cursive;
  color: #60106b; }

.gal {
  background: #CEC8FF;
  padding: 1rem 0; }

.masthead {
  height: auto;
  background-color: #ffffff; }

.menu-links {
  text-decoration: none;
  text-align: left !important; }

.card-body {
  background-color: #f0f0f3; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #97c5b6; }

.bg-primary {
  background-color: #048565 !important; }

.site-footer {
  padding: 20px 0; }

.jumbotron {
  height: auto;
  margin: 0;
  color: white; }
  .jumbotron #wantWafflesBtn {
    z-index: 1025; }

.row-content {
  padding: 0px 0; }

.navbar {
  background-color: #901CAD; }

.carousel {
  width: auto; }

.nav-item {
  padding-right: 50px; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }

#carouselButton {
  z-index: 3; }
